- model_class = Causality
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th.left= model_class.human_attribute_name(:name)
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @causalities.each do |causality|
      %tr
        %td.left= causality.name
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_causality_path(causality), :class => 'btn btn-mini'

          = link_to t('.destroy', :default => t("helpers.links.destroy")),
            causality_path(causality),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-mini btn-danger'
= link_to t('.new', :default => t("helpers.links.new")),
  new_causality_path,
  :class => 'btn btn-primary'
