= simple_form_for @zygosity, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), |
      zygosities_path, :class => 'btn'                             |
