- model_class = Zygosity
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th.left= model_class.human_attribute_name(:name)
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @zygosities.each do |zygosity|
      %tr
        %td.left= link_to zygosity.name, zygosity_path(zygosity)
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), 
            edit_zygosity_path(zygosity), :class => 'btn btn-mini'   
          -#
          = link_to t('.destroy', :default => t("helpers.links.destroy")),                                               
            zygosity_path(zygosity),                                                                                     
            :method => :delete,                                                                                          
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, 
            :class => 'btn btn-mini btn-danger'                                                                          
= link_to t('.new', :default => t("helpers.links.new")), 
  new_zygosity_path,                                     
  :class => 'btn btn-primary'                            
