- model_class = Zygosity
.page-header
  %h1= t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human, |
      :default => "New #{model_class.model_name.human}")                                      |
= render :partial => 'form'
