- model_class = Zygosity
.page-header
  %h1= t '.title', :default => model_class.model_name.human
%dl.dl-horizontal
  %dt
    %strong
      = model_class.human_attribute_name(:name)
      \:
  %dd= @zygosity.name
.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), |
    zygosities_path, :class => 'btn'                         |
  -#
  = link_to t('.edit', :default => t("helpers.links.edit")), |
    edit_zygosity_path(@zygosity), :class => 'btn'           |
  -#
  = link_to t('.destroy', :default => t("helpers.links.destroy")),                                               |
    zygosity_path(@zygosity),                                                                                    |
    :method => 'delete',                                                                                         |
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, |
    :class => 'btn btn-danger'                                                                                   |
