- model_class = EthnicGroup
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th.left= model_class.human_attribute_name(:value)
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @ethnic_groups.each do |group|
      %tr
        %td.left= link_to group.value, ethnic_group_path(group)
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_ethnic_group_path(group), :class => 'btn btn-mini'
          -#
          = link_to t('.destroy', :default => t("helpers.links.destroy")),ethnic_group_path(group), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),:class => 'btn btn-mini btn-danger'
= link_to t('.new', :default => t("helpers.links.new")), new_ethnic_group_path, :class => 'btn btn-primary'
