= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f|

  = f.input :login, class: "text_field"
  = f.input :firstname, class: "text_field"
  = f.input :lastname , class: "text_field"
  = f.input :email, class: "email_field"
  -if params[:action] == "edit" && admin?
    = f.association :role, :as => :radio_buttons
  -if admin?
    = f.input :active
  = f.input :password, class: "password_field"
  = f.input :password_confirmation, class: "password_field"

  -if params[:action] == "edit"
    %p
      = "The current role assigned to this user is"
      %strong
        = @user.role.name
        = "."
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), |
      users_path, :class => 'btn'                                  |
