- model_class = User
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize
-if user_signed_in?
  %table.table.table-striped
    %thead
      %tr
        %th= model_class.human_attribute_name(:id)
        %th= model_class.human_attribute_name(:login)
        %th= model_class.human_attribute_name(:firstname)
        %th= model_class.human_attribute_name(:lastname)
        %th= model_class.human_attribute_name(:email)
        %th= model_class.human_attribute_name(:created_at)
        %th= Role
        %th Status
        %th= t '.actions', :default => t("helpers.actions")
    %tbody
      - @users.each do |user|
        %tr
          %td= user.id
          %td= link_to user.login, user_path(user)
          %td= user.firstname
          %td= user.lastname
          %td= user.email
          %td= user.created_at.strftime("%Y-%m-%d")
          %td= user.role.name
          %td=raw user.active ? "<span class='green'>active</span>":"<span class='red'>inactive</span>"

          %td
            -if can? :update, User
              = link_to t('.edit', :default => t("helpers.links.edit")), edit_user_path(user), :class => 'btn btn-mini'
              -if can? :destroy, User
                = link_to t('.destroy', :default => t("helpers.links.destroy")), user_path(user), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'
  -if can? :create, User
    = link_to t('.new', :default => t("helpers.links.new")),new_user_path, :class => 'btn btn-primary'
