- model_class = User
.page-header
  %h1
    = t '.title', :default => model_class.model_name.human
    = @user.login
%dl.dl-horizontal
  %dt
    %strong
      = model_class.human_attribute_name(:login)
      \:
  %dd= @user.login
  %dt
    %strong
      = model_class.human_attribute_name(:firstname)
      \:
  %dd= @user.firstname
  %dt
    %strong
      = model_class.human_attribute_name(:lastname)
      \:
    %dd= @user.lastname
  %dt
    %strong
      = model_class.human_attribute_name(:email)
      \:
    %dd= mail_to @user.email, @user.email
  %dt
    %strong
      Role
      \:
    %dd= @user.role.name
  %dt
    %strong
      Status
      \:
    %dd= @user.active ? "active":"inactive"
  %dt
    %strong
      = model_class.human_attribute_name(:created_at)
      \:
    %dd= @user.created_at.strftime("%Y-%m-%d")
  %dt
    %strong
      = model_class.human_attribute_name(:updated_at)
      \:
    %dd= @user.updated_at.strftime("%Y-%m-%d")
  - unless @user.last_sign_in_at == nil
    %dt
      %strong
        = model_class.human_attribute_name(:last_sign_in_at)
        \:
      %dd= @user.last_sign_in_at.strftime("%Y-%m-%d")


.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), |
    users_path, :class => 'btn'                              |
  -#
  -if admin? || @user.id == current_user.id
    = link_to t('.edit', :default => t("helpers.links.edit")), |
      edit_user_path(@user), :class => 'btn'                   |
  -#
  -if admin?
    = link_to t('.destroy', :default => t("helpers.links.destroy")),                                  |
      user_path(@user),                                                                               |
      :method => 'delete',                                                                            |
      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), |
      :class => 'btn btn-danger'                                                                      |
