- model_class = Chromosome
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th.left= model_class.human_attribute_name(:name)
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @chromosomes.each do |chromosome|
      %tr
        %td.left= link_to chromosome.name, chromosome_path(chromosome)
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")),   
            edit_chromosome_path(chromosome), :class => 'btn btn-mini' 
          -#
          = link_to t('.destroy', :default => t("helpers.links.destroy")),                                               
            chromosome_path(chromosome),                                                                                 
            :method => :delete,                                                                                          
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, 
            :class => 'btn btn-mini btn-danger'                                                                          
= link_to t('.new', :default => t("helpers.links.new")), 
  new_chromosome_path,                                   
  :class => 'btn btn-primary'                            
