- model_class = Chromosome
.page-header
  %h1= t '.title', :default => model_class.model_name.human
%dl.dl-horizontal
  %dt
    %strong
      = model_class.human_attribute_name(:name)
      \:
  %dd= @chromosome.name
.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), |
    chromosomes_path, :class => 'btn'                        |
  -#
  = link_to t('.edit', :default => t("helpers.links.edit")), |
    edit_chromosome_path(@chromosome), :class => 'btn'       |
  -#
  = link_to t('.destroy', :default => t("helpers.links.destroy")),                                               |
    chromosome_path(@chromosome),                                                                                |
    :method => 'delete',                                                                                         |
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, |
    :class => 'btn btn-danger'                                                                                   |
