- model_class = AgeOfOnset
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th.left= model_class.human_attribute_name(:value)
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @age_of_onsets.each do |age|
      %tr
        %td.left= age.value
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_age_of_onset_path(age), :class => 'btn btn-mini'
          -#
          = link_to t('.destroy', :default => t("helpers.links.destroy")),age_of_onset_path(age), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),:class => 'btn btn-mini btn-danger'
= link_to t('.new', :default => t("helpers.links.new")), new_age_of_onset_path, :class => 'btn btn-primary'
