- model_class = Dominance
.page-header
  %h1= t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human, |
      :default => "Edit #{model_class.model_name.human}")                                      |
= render :partial => 'form'
