- model_class = Dominance
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th.left= model_class.human_attribute_name(:name)
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @dominances.each do |dominance|
      %tr
        %td.left= link_to dominance.name, dominance_path(dominance)
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")),
            edit_dominance_path(dominance), :class => 'btn btn-mini'
          -#
          = link_to t('.destroy', :default => t("helpers.links.destroy")),
            dominance_path(dominance),
            :method => :delete,
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-mini btn-danger'
= link_to t('.new', :default => t("helpers.links.new")),
  new_dominance_path,
  :class => 'btn btn-primary'
