- model_class = Dominance
.page-header
  %h1= t '.title', :default => model_class.model_name.human
%dl.dl-horizontal
  %dt
    %strong
      = model_class.human_attribute_name(:name)
      \:
  %dd= @dominance.name
.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), |
    dominances_path, :class => 'btn'                         |
  -#
  = link_to t('.edit', :default => t("helpers.links.edit")), |
    edit_dominance_path(@dominance), :class => 'btn'         |
  -#
  = link_to t('.destroy', :default => t("helpers.links.destroy")),                                               |
    dominance_path(@dominance),                                                                                  |
    :method => 'delete',                                                                                         |
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, |
    :class => 'btn btn-danger'                                                                                   |
