.sidebox
  %legend
    %span.heading
      Billing
  %dl.dl-horizontal
    %dt
      Last Statement
    %dd
      =Time.now.strftime("%Y/%m/%d")
    %dt
      Payment Type
    %dd
      automatic
    %dt
      Last Paid
    %dd
      =(Time.now + 7.days).strftime("%Y/%m/%d")
