.sidebox
  %legend
    %span.heading
      Kits
  %dl.dl-horizontal
    %dt
      On site
    %dd
      11
    %dt
      On Order
    %dd
      2
    %dt
      Last Ordered
    %dd
      =Time.now.strftime("%Y/%m/%d at %T")
  %a.btn.btn-primary.btn-small.pull-right{"data-toggle" => "modal", :href => "#oder_more_kits", :role => "button"} Order More Kits
  / Modal
  #oder_more_kits.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-header
      %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
      %h3#myModalLabel Order torrenZ Sample Kits
    .modal-body
      %form.form-horizontal
        .control-group
          %label.control-label{:for => "standard"} Standard IDP
          .controls
            %input#inputkit1{:placeholder => "Quantity", :type => "text"}/
        .control-group
          %label.control-label{:for => "express"} Express IDP
          .controls
            %input#inputkit1{:placeholder => "Quantity", :type => "text"}/
        %p
        .control-group
          %label.control-label{:for => "express"} Standard Cancer
          .controls
            %input#inputkit1{:placeholder => "Quantity", :type => "text"}/
        .control-group
          %label.control-label{:for => "express"} Express Cancer
          .controls
            %input#inputkit1{:placeholder => "Quantity", :type => "text"}/


    .modal-footer
      %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
      %button.btn.btn-success{:type => "submit"} Order Kits
  .clear