.sidebox
  %legend
    %span.heading
      Tests & Samples
  %dl.dl-horizontal
    %dt
      Last received
    %dd
      =Time.now.strftime("%Y/%m/%d")
    %dt
      In progress
    %dd
      16
    %dt
      ETA
    %dd
      =(Time.now + 7.days).strftime("%Y/%m/%d")
    %dt
      Completed
    %dd
      &nbsp;

    %dt
      this month
    %dd
      2
    %dt
      this year
    %dd
      20