.row
  .span2.offset10.border_bottom
    =image_tag('torrenz_genomics.png', class: "pull-right")
.spacer50
  .clearfix
.row
  .span9
    %h1 Portal

    .tabbable
      / Only required for left/right tabs
      %ul.nav.nav-tabs
        %li
          %a{"data-toggle" => "tab", :href => "#home"} Home
        %li.active
          %a{"data-toggle" => "tab", :href => "#information"} Information
      .tab-content
        #home.tab-pane
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla tristique purus ac augue
            accumsan tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
            per inceptos himenaeos. Cras sit amet tortor sit amet turpis pulvinar viverra in sit amet
            nisi. Proin eget massa nunc. Pellentesque fringilla ipsum non nisl vulputate placerat.
            Sed varius justo a leo commodo pretium. Sed eu mi quis magna molestie iaculis in eget
            mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
            himenaeos. Curabitur semper leo et orci facilisis id ullamcorper leo ultrices. Proin
            lorem odio, lacinia in vulputate sagittis, cursus nec dolor. In arcu enim, hendrerit sed
            sagittis non, vehicula quis nisl. Nulla facilisi. Duis sollicitudin nisi mi.
          %p
            Phasellus dui arcu, elementum ac ultrices id, dignissim id eros. Phasellus rhoncus tempus
            felis vel fermentum. Cras a libero sapien, sit amet rutrum leo. Integer a odio sit amet
            est auctor eleifend. Sed lobortis nibh in velit malesuada nec ullamcorper libero dapibus.
            Nunc eros nulla, ornare id scelerisque id, lobortis sit amet lectus. Aenean a leo id felis
            rhoncus mattis.
        #information.tab-pane.active
          .row
            .span9
              %div.border
                Welcome - Brief Introduction

              %form.form-search.pull-right
                %input.input-medium.search-query{:type => "text", id: "portal_search",:placeholder => "Search"}/
                %button.btn{:type => "submit"} Go
              .clear
              #portal.accordion
                .accordion-group
                  .accordion-heading
                    %a.accordion-toggle{"data-parent" => "#portal", "data-toggle" => "collapse", :href => "#in_progress"}
                      In Progress
                  #in_progress.accordion-body.collapse.in
                    .accordion-inner
                      %table.table.table-striped
                        %thead
                          %tr
                            %th.left Patient
                            %th ID
                            %th Status
                            %th.left Result
                        %tbody
                          %tr
                            %td.left Kimisha Yashimoto
                            %td 4
                            %td in progress
                            %td.left pending
                          %tr
                            %td.left Gerhard Westerhuizen
                            %td 6
                            %td in progress
                            %td.left pending
                          %tr
                            %td.left Olona Gotambo
                            %td 54
                            %td in progress
                            %td.left pending
                          %tr
                            %td.left Samantha Price
                            %td 48
                            %td in progress
                            %td.left not good...
                .accordion-group
                  .accordion-heading
                    %a.accordion-toggle{"data-parent" => "#portal", "data-toggle" => "collapse", :href => "#complete_7_days"}
                      Complete last 7 days
                  #complete_7_days.accordion-body.collapse
                    .accordion-inner
                      %table.table.table-striped
                        %thead
                          %tr
                            %th.left Patient
                            %th ID
                            %th Status
                            %th.left Result
                        %tbody
                          %tr
                            %td.left Pieter DeKlaas
                            %td 6
                            %td done
                            %td.left no mutations
                          %tr
                            %td.left Alisa Katweso
                            %td 12
                            %td done
                            %td.left no mutations
                          %tr
                            %td.left anonymous
                            %td 34
                            %td done
                            %td.left Amplicon 1232 (Sickle Cell)
                          %tr
                            %td.left anonymous
                            %td 2343
                            %td done
                            %td.left Amplicon 2345 (Retinitis Pigmentosa)
                .accordion-group
                  .accordion-heading
                    %a.accordion-toggle{"data-parent" => "#portal", "data-toggle" => "collapse", :href => "#complete_last_month"}
                      Complete last month
                  #complete_last_month.accordion-body.collapse
                    .accordion-inner
                      %p
                        Phasellus dui arcu, elementum ac ultrices id, dignissim id eros. Phasellus rhoncus tempus
                        felis vel fermentum. Cras a libero sapien, sit amet rutrum leo. Integer a odio sit amet
                        est auctor eleifend. Sed lobortis nibh in velit malesuada nec ullamcorper libero dapibus.
                        Nunc eros nulla, ornare id scelerisque id, lobortis sit amet lectus. Aenean a leo id felis
                        rhoncus mattis.
                .accordion-group
                  .accordion-heading
                    %a.accordion-toggle{"data-parent" => "#portal", "data-toggle" => "collapse", :href => "#complete_YTD"}
                      Complete YTD
                  #complete_YTD.accordion-body.collapse
                    .accordion-inner
                      %p
                        Phasellus dui arcu, elementum ac ultrices id, dignissim id eros. Phasellus rhoncus tempus
                        felis vel fermentum. Cras a libero sapien, sit amet rutrum leo. Integer a odio sit amet
                        est auctor eleifend. Sed lobortis nibh in velit malesuada nec ullamcorper libero dapibus.
                        Nunc eros nulla, ornare id scelerisque id, lobortis sit amet lectus. Aenean a leo id felis
                        rhoncus mattis.
          .row
            .span9
              #portal_chart
  .span3
    #placeholder.visible-desktop
    = render :partial => 'kits'
    = render :partial => 'tests'
    = render :partial => 'billing'
    .clear
    %a.btn.btn-success.btn-small.pull-right{"data-toggle" => "modal", :href => "#edit_pofile", :role => "button"} My Profile
    / Modal
    #edit_pofile.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel2", :role => "dialog", :tabindex => "-1"}
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
        %h3#myModalLabel2 Edit Profile - Dr. med. Peters
      .modal-body
        %form.form-horizontal
          .control-group
            %label.control-label{:for => "standard"} Address
            .controls
              %input#inputkit1{:placeholder => "Address", :type => "text"}/
          .control-group
            %label.control-label{:for => "express"} Postal Code
            .controls
              %input#inputkit1{:placeholder => "Postal Code", :type => "text"}/
          %p
          .control-group
            %label.control-label{:for => "express"} Email
            .controls
              %input#inputkit1{:placeholder => "Email", :type => "text"}/
          .control-group
            %label.control-label{:for => "express"} Phone
            .controls
              %input#inputkit1{:placeholder => "Phone", :type => "text"}/


        .modal-footer
          %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
          %button.btn.btn-success{:type => "submit"} Update Profile