.row
  .span12
    %h2=@gene.disease
.row
  .span2
    .border_portal
      =image_tag('noonan.png', class: 'center')
  .span10
    .border_portal
      %h4 Description
      %p
        Noonan syndrome is a condition that can affect the heart, growth, and mental and physical development.
        It is generally recognized by a heart valve defect present at birth, short stature, droopy and wide
        set eyes, and low set ears. Features that are often present include low hairline in the neck region,
        striking blue or grey eyes, curly hair, and chest deformities. Affected children may have behavioral
        and learning problems.
.spacer15
.row
  .span9
    .portal_card
      %h4 Additional Information
      %p
        The Noonan Syndrome Support Group Inc.
        %br
        = "Mrs Lucy Cinnamond | +27 (0)11 609 1742 |"
        = mail_to "lucy@vanflymen.co.za"
        = "| Johannesburg |"
        =link_to "www.saida.org.za", "http://www.saida.org.za"
      %p
        NHS Noonan Syndrome
        %br
        =link_to "http://www.nhs.uk/Conditions/Noonan-syndrome/Pages/Treatment.aspx", "http://www.nhs.uk/Conditions/Noonan-syndrome/Pages/Treatment.aspx"
      %p
        US National Library Of Medicine
        %br
        =link_to "http://www.ncbi.nlm.nih.gov/books/NBK1124/", "http://www.ncbi.nlm.nih.gov/books/NBK1124/"
    .spacer15
      .clearfix

    .portal_card
      %h4 Recent Research Articles
      %ul
        -@gene.ncbi_result.ncbi_pubmed_articles.where(review: false).order("year DESC").limit(3).each do |article|
          %li
            = link_to article.title, "http://www.ncbi.nlm.nih.gov/pubmed/#{article.pubmed}", target: "_blank"
            = "#{show_author(article)}, #{article.year}, "
            %i
              = show_author(article)+","
            = article.journal+","
            %strong
              = article.year+","
            = article.volume+","
            = article.pages
        %p.link
          =link_to "See all publications", ncbi_pubmed_article_path(@gene.id)


  .span3
    .portal_card.side.small
      .header
        =image_tag('sa_flag_100.jpg', class: 'left')
      .header
        %h4 South Africa
      .spacer20
        .clearfix
      =image_tag('sa_outline.png', class: "location_map")
      .spacer30
        .clearfix
      %dl.dl-horizontal.side
        %dt
          Incidents
        %dd
          1.000-2.500/year
        %dt
          Onset
        %dd
          infantile
        %dt
          Gender
        %dd
          both
        %dt
          Treatment
        %dd
          Symptoms according to case.