.row
  .span12
    %h3="#{@gene.name} - #{@gene.disease}"
    %h5="#{@gene.ncbi_result.official_full_name.titleize}"
.spacer15

.row
  .span9
    .portal_card
      .tabbable
        / Only required for left/right tabs
        %ul.nav.nav-pills
          %li.active
            %a{"data-toggle" => "tab", :href => "#disease"} Disease Characteristics
          %li
            %a{"data-toggle" => "tab", :href => "#diagnosis"} Diagnosis
          %li
            %a{"data-toggle" => "tab", :href => "#management"} Management
          %li
            %a{"data-toggle" => "tab", :href => "#counseling"} Genetic Counseling
        .tab-content
          #disease.tab-pane.active
            %p
              Characterized by short stature, congenital heart defect, and developmental
              delay of variable degree, broad or webbed neck, unusual chest shape with
              superior pectus carinatum and inferior pectus excavatum, cryptorchidism, characteristic facies,
              varied coagulation defects, lymphatic dysplasias, and ocular abnormalities. Congenital heart
              disease occurs in 50%-80% of individuals. Pulmonary valve stenosis, often with dysplasia, is the
              most common heart defect and is found in 20%-50% of individuals. Hypertrophic cardiomyopathy,
              found in 20%-30% of individuals, may be present at birth or develop in infancy or childhood.
              Other structural defects include atrial and ventricular septal defects, branch pulmonary artery
              stenosis, and tetralogy of Fallot. Up to one third of affected individuals have mild intellectual
              disability.

          #diagnosis.tab-pane
            %p
              Noonan Syndrome is diagnosed on clinical grounds by observation of key features. Affected individuals have normal chromosome studies. Molecular genetic testing identifies a mutation in PTPN11 in 50% of affected individuals, SOS1 in approximately 13%, RAF1 in 3% to 17%, and KRAS in fewer than 5%. Other genes in which mutations have been reported to cause Noonan syndrome in fewer than 1% of cases include NRAS, BRAF, and MAP2K1.

          #management.tab-pane
            %p
              Treatment of manifestations: Cardiovascular anomalies in NS are usually treated as in the general population. Developmental disabilities are addressed by early intervention programs and individualized education strategies. Treatment for serious bleeding is guided by knowledge of the specific factor deficiency or platelet aggregation anomaly. Growth hormone (GH) treatment increases growth velocity.

          #counseling.tab-pane
            %p
              Noonan Syndrome is inherited in an autosomal dominant manner. Although many individuals with NS have a de novo mutation, an affected parent is recognized in 30%-75% of families. The risk to sibs of a proband depends on the genetic status of the parents. If a parent is affected, the risk is 50%. When the parents are clinically unaffected, the risk to the sibs of a proband appears to be low (<1%). Each child of an individual with Noonan syndrome has a 50% chance of inheriting the mutation. Prenatal testing is possible if the disease-causing allele has been identified in an affected family member.
    .spacer15

    .portal_card
      .tabbable
        / Only required for left/right tabs
        %ul.nav.nav-pills
          %li.active
            %a{"data-toggle" => "tab", :href => "#summary"} Gene Summary
          %li
            %a{"data-toggle" => "tab", :href => "#function"} Gene Function
          %li
            %a{"data-toggle" => "tab", :href => "#characteristics"} Gene Characteristics
          %li
            %a{"data-toggle" => "tab", :href => "#conditions"} Associated Conditions

        .tab-content
          #summary.tab-pane.active
            %p=@gene.ncbi_result.summary

          #function.tab-pane
            %p
              The PTPN11 gene carries the instructions for making a protein called SHP-2. This protein helps control (regulate) the activation of the RAS/MAPK signaling pathway, which helps control several important cell functions. Specifically, it regulates the growth and division of cells (proliferation), the process by which cells mature to carry out specific functions (differentiation), cell movement (migration), and the self-destruction of cells (apoptosis). During embryonic development, the SHP-2 protein is critical in the development of the heart, blood cells, bones, and several other tissues.
              The PTPN11 gene belongs to a class of genes known as oncogenes. When mutated, oncogenes have the potential to cause normal cells to become cancerous.

          #characteristics.tab-pane
            The PTPN11 gene belongs to a family of genes called PTP (protein tyrosine phosphatases).
            A gene family is a group of genes that share important characteristics. Classifying individual genes into families helps researchers describe how genes are related to each other.

          #conditions.tab-pane
            %p
              Multiple Lentigines Syndrome - is caused by mutations in the PTPN11 gene.
            %p
              Noonan syndrome - caused by mutations in the PTPN11 gene
            %p
              Cancers - increased risk from variations of the PTPN11 gene


    .spacer15

    .portal_card
      %ul.nav.nav-pills
        %li.active
          %a{"data-toggle" => "tab", :href => "#weblinks"} Web Links
        -#%li
        -#  %a{"data-toggle" => "tab", :href => "#reviews"} Reviews
        -#%li
        -#  %a{"data-toggle" => "tab", :href => "#articles"} Articles


      .tab-content
        #weblinks.tab-pane.active
          %table
            %tr
              %td=link_to "Genetic Home Reference", "http://ghr.nlm.nih.gov/condition/noonan-syndrome", target: "_blank"
              %td=link_to "Gene Reviews", "http://www.ncbi.nlm.nih.gov/books/NBK1124", target: "_blank"
              %td=link_to "Clinical Queries", "http://www.ncbi.nlm.nih.gov/pubmed/clinical/?term=#{@gene.disease}", target: "_blank"
            %tr
              %td
                =link_to "(Prognosis + #{@gene.name} + #{@gene.disease})", "http://www.ncbi.nlm.nih.gov/pubmed?term=%28prognos*[Title%2FAbstract]%20OR%20%28first[Title%2FAbstract]%20AND%20episode[Title%2FAbstract]%29%20OR%20cohort[Title%2FAbstract]%29%20AND%20#{@gene.name} AND #{@gene.disease}", target: "_blank"
              %td
                =link_to "(Etiology + #{@gene.name} + #{@gene.disease})", "http://www.ncbi.nlm.nih.gov/pubmed?term=%28%28relative[Title%2FAbstract]%20AND%20risk*[Title%2FAbstract]%29%20OR%20%28relative%20risk[Text%20Word]%29%20OR%20risks[Text%20Word]%20OR%20cohort%20studies[MeSH%3Anoexp]%20OR%20%28cohort[Title%2FAbstract]%20AND%20stud*[Title%2FAbstract]%29%29%20AND%20#{@gene.name} AND #{@gene.disease}", target: "_blank"
              %td
                =link_to "Google '#{@gene.name} + #{@gene.disease}'", "https://www.google.com/search?q=#{@gene.name}+#{@gene.disease}", target: "_blank"

            %tr
              %td
                =link_to "(Diagnosis + #{@gene.name} + #{@gene.disease})", "http://www.ncbi.nlm.nih.gov/pubmed?term=%28sensitiv*[Title%2FAbstract]%20OR%20sensitivity%20and%20specificity[MeSH%20Terms]%20OR%20diagnos*[Title%2FAbstract]%20OR%20diagnosis[MeSH%3Anoexp]%20OR%20diagnostic%20*%20[MeSH%3Anoexp]%20OR%20diagnosis%2Cdifferential[MeSH%3Anoexp]%20OR%20diagnosis[Subheading%3Anoexp]%29%20AND%20#{@gene.name} AND #{@gene.disease}", target: "_blank"
              %td
                =link_to "(Therapy + #{@gene.name} + #{@gene.disease})", "http://www.ncbi.nlm.nih.gov/pubmed?term=%28%28clinical[Title%2FAbstract]%20AND%20trial[Title%2FAbstract]%29%20OR%20clinical%20trials[MeSH%20Terms]%20OR%20clinical%20trial[Publication%20Type]%20OR%20random*[Title%2FAbstract]%20OR%20random%20allocation[MeSH%20Terms]%20OR%20therapeutic%20use[MeSH%20Subheading]%29%20AND%20#{@gene.name} AND #{@gene.disease}", target: "_blank"

  .span3
    .portal_card.side
      %h4= "#{@gene.name} Classification"
      -unless classified_gene(@gene,nil)
        %p
          This gene has not yet been classified.
      %dl.dl-horizontal.side
        %dt
          Common in SA:
        %dd
          =raw @gene.common_in_sa ? "<span class='green'>yes</span>":"<span class='red'>no</span>"
        -if @gene.causalities.size > 0
          %dt
            Causality:
          %dd
            = @gene.causalities.map(&:name).join(", ")
        -if @gene.ethnic_groups.size > 0
          %dt
            Ethnic Groups:
          %dd
            = @gene.ethnic_groups.map(&:value).join(", ")

        -if @gene.curabilities.size > 0
          %dt
            Outcome:

          %dd
            = @gene.curabilities.map(&:value).join(", ")

        -if @gene.age_of_onsets.size > 0
          %dt
            Age of Onset:
          %dd
            = @gene.age_of_onsets.map(&:value).join(", ")

        -if @gene.genders.size > 0
          %dt
            Gender:
          %dd
            = @gene.genders.map(&:name).join(", ")

        -if @gene.zygosities.size > 0
          %dt
            Zygosity:
          %dd
            = @gene.zygosities.map(&:name).join(", ")

        -if @gene.chromosomes.size > 0
          %dt
            Chromosomes:
          %dd
            = @gene.chromosomes.map(&:name).join(", ")

        -if @gene.dominances.size > 0
          %dt
            Dominance:
          %dd
            = @gene.dominances.map(&:name).join(", ")

        -if @gene.comments.present?
          %dt
            Comment Tags:
          %dd
            =raw @gene.comments.collect { |comment| "#{comment}"}.join(", ")

        -if @gene.incidents.present?
          %dt
            Incident Tags:
          %dd
            =raw @gene.incidents.collect { |incident| "#{incident}"}.join(", ")


      %h4 Reviews
      %ul
        -@gene.ncbi_result.ncbi_pubmed_articles.where(review: true).order("year DESC").limit(5).each do |review|
          %li
            = link_to show_author(review), "http://www.ncbi.nlm.nih.gov/pubmed/#{review.pubmed}", target: "_blank"
            = ", #{review.year}"
        %p.link
          =link_to "See all reviews", ncbi_pubmed_article_path(@gene.id, filter: "review")
      %h4 Publications
      %ul
        -@gene.ncbi_result.ncbi_pubmed_articles.where(review: false).order("year DESC").limit(5).each do |article|
          %li
            = link_to show_author(article), "http://www.ncbi.nlm.nih.gov/pubmed/#{article.pubmed}", target: "_blank"
            = ", #{article.year}"
        %p.link
          =link_to "See all publications", ncbi_pubmed_article_path(@gene.id)