.row
  .span12
    %h1="#{@gene.name}"
    %h4="#{@gene.ncbi_result.official_full_name.titleize}"
.spacer20
  .clearfix
.row
  .span9
    .tabbable
      / Only required for left/right tabs
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#function"} Normal Function
        %li
          %a{"data-toggle" => "tab", :href => "#characteristics"} Shared Characteristics
        %li
          %a{"data-toggle" => "tab", :href => "#conditions"} Related Conditions
        %li
          %a{"data-toggle" => "tab", :href => "#classification"} Genetic Classification

      .tab-content
        #function.tab-pane.active
          %p
            The ABCA4 gene provides instructions for making a protein that is found in the retina,
            the specialized light-sensitive tissue that lines the back of the eye. Specifically,
            the ABCA4 protein is produced in the retina's specialized light receptor cells
            (photoreceptors). The ABCA4 protein is active following phototransduction, the process
            by which light entering the eye is converted into electrical signals that are transmitted
            to the brain. Phototransduction leads to the formation of potentially toxic substances.
            The ABCA4 protein removes one of these substances, called N-retinylidene-PE, from
            photoreceptor cells.

        #characteristics.tab-pane
          %p
            The ABCA4 gene belongs to a family of genes called ABC (ATP-binding cassette transporters).
          %p
            A gene family is a group of genes that share important characteristics. Classifying
            individual genes into families helps researchers describe how genes are related to each
            other. For more information, see What are gene families? in the Handbook.

        #conditions.tab-pane
          %p
            %h3 Stargardt macular degeneration

            More than 500 mutations in the ABCA4 gene have been found to cause Stargardt macular
            degeneration. Most of these mutations change single protein building blocks (amino acids)
            in the ABCA4 protein. A malfunctioning ABCA4 protein cannot remove N-retinylidene-PE from
            photoreceptor cells. As a result, N-retinylidene-PE combines with another substance to
            produce a fatty yellow pigment called lipofuscin, which builds up in retinal cells. The
            buildup of lipofuscin is toxic to the cells of the retina and causes progressive vision
            loss in people with Stargardt macular degeneration. In most cases, Stargardt macular
            degeneration is caused by mutations in the ABCA4 gene.
            %h3 other retinal dystrophies
            Mutations in the ABCA4 gene have also been found to cause a vision disorder called
            cone-rod dystrophy. The vision problems associated with this condition include a loss
            of sharpness (reduced acuity), an increased sensitivity to light (photophobia),
            nearsightedness (myopia), and impaired color vision. These vision problems tend to
            worsen over time. Most of the ABCA4 gene mutations that cause cone-rod dystrophy change
            single amino acids in the ABCA4 protein. It is estimated that ABCA4 gene mutations
            account for 30 to 60 percent of cases of cone-rod dystrophy.
            %br
            Some studies have suggested that ABCA4 gene mutations are associated with an increased
            risk for developing age-related macular degeneration. This eye disease is a leading cause
            of vision loss among older people worldwide. It is characterized by damage to the retina
            and a loss of visual acuity. While some studies have found an association between ABCA4
            gene mutations and age-related macular degeneration, other studies have not found this
            association. A combination of genetic and environmental factors likely determines the
            risk of developing this disease.

        #classification.tab-pane
          %p
            %h3 Genetic Classification
            -unless classified_gene(@gene,nil)
              %p
                This gene has not yet been classified.
            %dl.dl-horizontal
              %dt
                Common in SA:
              %dd
                =raw @gene.common_in_sa ? "<span class='green'>yes</span>":"<span class='red'>no</span>"
              -if @gene.causalities.size > 0
                %dt
                  Causality:
                %dd
                  = @gene.causalities.map(&:name).join(", ")
              -if @gene.ethnic_groups.size > 0
                %dt
                  Ethnic Groups:
                %dd
                  = @gene.ethnic_groups.map(&:value).join(", ")

              -if @gene.curabilities.size > 0
                %dt
                  Outcome:

                %dd
                  = @gene.curabilities.map(&:value).join(", ")

              -if @gene.age_of_onsets.size > 0
                %dt
                  Age of Onset:
                %dd
                  = @gene.age_of_onsets.map(&:value).join(", ")

              -if @gene.genders.size > 0
                %dt
                  Gender:
                %dd
                  = @gene.genders.map(&:name).join(", ")

              -if @gene.zygosities.size > 0
                %dt
                  Zygosity:
                %dd
                  = @gene.zygosities.map(&:name).join(", ")

              -if @gene.chromosomes.size > 0
                %dt
                  Chromosomes:
                %dd
                  = @gene.chromosomes.map(&:name).join(", ")

              -if @gene.dominances.size > 0
                %dt
                  Dominance:
                %dd
                  = @gene.dominances.map(&:name).join(", ")

              -if @gene.comments.present?
                %dt.tag
                  Comment Tags:
                %dd.tag.left
                  =raw @gene.comments.collect { |comment| "<span class='badge badge-important'>#{comment}</span>"}.join(" ")

              -if @gene.incidents.present?
                %dt.tag
                  Incident Tags:
                %dd.tag.left
                  =raw @gene.incidents.collect { |incident| "<span class='badge badge-important'>#{incident}</span>"}.join(" ")


    %h1="#{@gene.disease}"
    %p
      %br
    .tabbable
      / Only required for left/right tabs
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#characteristics"} Disease Characteristics
        %li
          %a{"data-toggle" => "tab", :href => "#diagnosis"} Diagnosis
        %li
          %a{"data-toggle" => "tab", :href => "#management"} Management
        %li
          %a{"data-toggle" => "tab", :href => "#counseling"} Genetic Counseling
      .tab-content
        #characteristics.tab-pane.active
          %p
            Retinitis pigmentosa (RP) is a group of inherited disorders in which abnormalities of
            the photoreceptors (rods and cones) or the retinal pigment epithelium (RPE) of the retina
            lead to progressive visual loss. Affected individuals first experience defective dark
            adaptation or "night blindness," followed by constriction of the peripheral visual field
            and, eventually, loss of central vision late in the course of the disease.

        #diagnosis.tab-pane
          %p
            The diagnosis of RP relies upon documentation of progressive loss in photoreceptor function
            by electroretinography (ERG) and visual field testing. The mode of inheritance of RP is
            determined by family history. At least 35 different genes or loci are known to cause
            nonsyndromic RP. DNA testing is available on a clinical basis for RLBP1 (autosomal
            recessive, Bothnia type RP), RP1 (autosomal dominant, RP1), RHO (autosomal dominant, RP4),
            RDS (autosomal dominant, RP7), PRPF8 (autosomal dominant, RP13), PRPF3 (autosomal dominant,
            RP18), CRB1 (autosomal recessive, RP12), ABCA4 (autosomal recessive, RP19), and RPE65
            (autosomal recessive, RP20). For all other genes, molecular genetic testing is available
            on a research basis only.

        #management.tab-pane
          %p
            Therapy with vitamin A palmitate may slow retinal degeneration but is not recommended for
            those under age 18 years and should be routinely monitored in women of childbearing age
            because of potential teratogenic effects. Use of UV-A and UV-B blocking sunglasses is
            recommended. Diamox therapy may reduce cystoid macular edema. CPF 550 lenses may increase
            eye comfort by reducing glare and adaptation time from light to dark. Various other
            optical aids include magnifiers, closed-circuit television, and high-intensity, wide-beam
            flashlights.

        #counseling.tab-pane
          %p
            RP can be inherited in an autosomal dominant, autosomal recessive, or X-linked manner.
            X-linked RP can be either recessive, affecting males only, or dominant, affecting both
            males and females; females are always more mildly affected. Some digenic and mitochondrial
            forms have also been described. Genetic counseling depends on an accurate diagnosis,
            determination of the mode of inheritance in each family, and results of molecular genetic
            testing.

  .span3
    .spacer40
      .clearfix
    .sidebox
      %h3
        External resources

      %h5 Websites
      %ul
        %li=link_to "Genetic Home Reference", "http://ghr.nlm.nih.gov/condition/retinitis-pigmentosa", target: "_blank"
        %li=link_to "Gene Reviews", "http://www.ncbi.nlm.nih.gov/books/NBK1417", target: "_blank"
        %li=link_to "Clinical Queries", "http://www.ncbi.nlm.nih.gov/pubmed/clinical/?term=#{@gene.disease}", target: "_blank"

      %h5 Recommended Literature
      %ul
        -@gene.ncbi_result.ncbi_pubmed_articles.order("year DESC").limit(10).each do |article|
          %li
            = link_to show_author(article), "http://www.ncbi.nlm.nih.gov/pubmed/#{article.pubmed}", target: "_blank"
            = ", #{article.year}"
        %p
          =link_to "See all publications", ncbi_pubmed_article_path(@gene.id)