- model_class = Role
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:description)
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @roles.each do |role|
      %tr
        %td= link_to role.id, role_path(role)
        %td= role.name
        %td= role.description
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_role_path(role), :class => 'btn btn-mini'
          -#
          = link_to t('.destroy', :default => t("helpers.links.destroy")),role_path(role), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),:class => 'btn btn-mini btn-danger'
= link_to t('.new', :default => t("helpers.links.new")), new_role_path, :class => 'btn btn-primary'
