- model_class = Role
.page-header
  %h1= t '.title', :default => model_class.model_name.human
%dl.dl-horizontal
  %dt
    %strong
      = model_class.human_attribute_name(:name)
      \:
  %dd= @role.name
  %dt
    %strong
      = model_class.human_attribute_name(:description)
      \:
  %dd= @role.description
.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), |
    roles_path, :class => 'btn'                              |
  -#
  = link_to t('.edit', :default => t("helpers.links.edit")), |
    edit_role_path(@role), :class => 'btn'                   |
  -#
  = link_to t('.destroy', :default => t("helpers.links.destroy")),                                  |
    role_path(@role),                                                                               |
    :method => 'delete',                                                                            |
    :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), |
    :class => 'btn btn-danger'                                                                      |
