- model_class = Post
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th.left= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:user_id)
      %th= model_class.human_attribute_name(:published)
      %th= model_class.human_attribute_name(:created_at)
      - if current_user.role.name == "admin" || current_user.role.name == "staff"
        %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @posts.each do |post|
      %tr
        %td.left= link_to post.title, post_path(post)
        %td= post.user.firstname
        %td= post.published ? "yes" : "no"
        %td= post.created_at.strftime("%Y/%m/%d")
        - if current_user.role.name == "admin" || current_user.role.name == "staff"
          %td
            = link_to t('.edit', :default => t("helpers.links.edit")),
              edit_post_path(post), :class => 'btn btn-mini'

            = link_to t('.destroy', :default => t("helpers.links.destroy")),
              post_path(post),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-mini btn-danger'
= link_to t('.new', :default => t("helpers.links.new")),
  new_post_path,
  :class => 'btn btn-primary'
