- model_class = Post
.well
  %legend= t '.title', :default => @post.title

  %h5
    = @post.created_at.strftime("%Y/%m/%d at %T")
    by
    = @post.user.firstname

  %p
    = @post.content


  - if current_user.role.name == "admin" || current_user.role.name == "staff"
    .form-actions
      = link_to t('.back', :default => t("helpers.links.back")), |
        posts_path, :class => 'btn'                              |
      -#
      = link_to t('.edit', :default => t("helpers.links.edit")), |
        edit_post_path(@post), :class => 'btn'                   |
      -#
      = link_to t('.destroy', :default => t("helpers.links.destroy")),                                               |
        post_path(@post),                                                                                            |
        :method => 'delete',                                                                                         |
        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, |
        :class => 'btn btn-danger'                                                                                   |
