/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require spacelab_bootstrap.min
 *= require bootstrap_and_overrides
 *= require portal
 */
span.green {color: #006400;}
span.red {color: #8b0000;}

img.flag {vertical-align: text-top;}
img.flag_m {vertical-align: top; margin: 2px 0 0 10px;}


p.filter_links {margin: -2.3em 0 0 4.5em;}

