// Place all the styles related to the portal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.border_portal {
  border:  1px solid #ddd;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  padding: 10px;
  box-shadow: 0 5px 6px -6px #777;
  -moz-box-shadow: 0 5px 6px -6px #777;
  -webkit-box-shadow: 0 5px 6px -6px #777;
  height: 125px;
}

div.portal_card {
  font-size: 14px;
  border:  1px solid #ddd;
  width:  100%;
  height: 200px;
  overflow: auto;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  padding: 10px;
  box-shadow: 0 5px 6px -6px #777;
  -moz-box-shadow: 0 5px 6px -6px #777;
  -webkit-box-shadow: 0 5px 6px -6px #777;
}

div.portal_card.side {
  height: 673px;
}

div.portal_card.side.small {
  height: 438px;
}

div.portal_card.side p.link {
  margin-top: 8px;
}

.header {float: left;}
.header h4 {margin:  20px 0 0 10px;font-weight: bold;}
.header img { -webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
img.location_map {
  width:  210px;
  height: auto;
  margin:  auto 10px;
  }

dl.dl-horizontal.side {margin-left: 10px;}
dl.dl-horizontal.side dt {font-weight: bold;text-align: left}

#weblinks table tr td {padding: 5px 10px;}
#weblinks table tr {border-bottom: 1px solid #eee;}
#weblinks table tr:last-child {border-bottom: none;}

