- model_class = Curability
.page-header
  %h1= t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th.left= model_class.human_attribute_name(:value)
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - @curabilities.each do |cure|
      %tr
        %td.left= link_to cure.value, curabilities_path(cure)
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_curability_path(cure), :class => 'btn btn-mini'
          -#
          = link_to t('.destroy', :default => t("helpers.links.destroy")),curability_path(cure), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),:class => 'btn btn-mini btn-danger'
= link_to t('.new', :default => t("helpers.links.new")), new_curability_path, :class => 'btn btn-primary'
