= form_for @gene, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :mutation_annotation_file, :class => 'control-label'
    .controls
      = f.file_field :mutation_annotation_file, :class => 'file_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), |
      genes_path, :class => 'btn'                                  |
