= simple_form_for @gene, :html => { :class => 'form-horizontal' } do |f|
  -if admin?
    #iontorrent.accordion
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-parent" => "#iontorrent", "data-toggle" => "collapse", :href => "#iontorrent_fields"}
            Ion Torrent Fields
        #iontorrent_fields.accordion-body.collapse
          .accordion-inner
            = f.input :name
            = f.input :chromosome
            = f.input :disease
            = f.input :number_amplicons
            = f.input :total_bases
            = f.input :covered_bases
            = f.input :overall_coverage,:input_html => { :step => '0.001' }
      .accordion-group
        .accordion-heading
          %a.accordion-toggle{"data-parent" => "#iontorrent", "data-toggle" => "collapse", :href => "#ncbi_fields"}
            NCBI Fields
        #ncbi_fields.accordion-body.collapse
          .accordion-inner
            %dl.dl-horizontal
              %dt
                Name
              %dd
                =@gene.name
              %dt
                Chromosome
              %dd
                =@gene.chromosome
              %dt
                Disease
              %dd
                =@gene.disease
              %dt
                Amplicons
              %dd
                =@gene.number_amplicons
              %dt
                Total Bases
              %dd
                =@gene.total_bases
              %dt
                Covered Bases
              %dd
                =@gene.covered_bases
              %dt
                Overall Coverage
              %dd
                =@gene.overall_coverage
  -if can? :update, Gene
    .well.well-small
      %legend
        = "Detailed NCBI Publications on #{@gene.name} and #{@gene.disease}"
      %table.table
        %thead
          %tr
            %th.left
              Publications using Gene name only
            %th.left
              Publications using Gene name + Phenotype
        %tbody
          %tr
            %td.left
              =link_to "(Prognosis + #{@gene.name})", "http://www.ncbi.nlm.nih.gov/pubmed?term=%28prognos*[Title%2FAbstract]%20OR%20%28first[Title%2FAbstract]%20AND%20episode[Title%2FAbstract]%29%20OR%20cohort[Title%2FAbstract]%29%20AND%20#{@gene.name}", target: "_blank"
            %td.left
              =link_to "(Prognosis + #{@gene.name} + #{@gene.disease})", "http://www.ncbi.nlm.nih.gov/pubmed?term=%28prognos*[Title%2FAbstract]%20OR%20%28first[Title%2FAbstract]%20AND%20episode[Title%2FAbstract]%29%20OR%20cohort[Title%2FAbstract]%29%20AND%20#{@gene.name} AND #{@gene.disease}", target: "_blank"
          %tr
            %td.left
              =link_to "(Etiology + #{@gene.name})", "http://www.ncbi.nlm.nih.gov/pubmed?term=%28%28relative[Title%2FAbstract]%20AND%20risk*[Title%2FAbstract]%29%20OR%20%28relative%20risk[Text%20Word]%29%20OR%20risks[Text%20Word]%20OR%20cohort%20studies[MeSH%3Anoexp]%20OR%20%28cohort[Title%2FAbstract]%20AND%20stud*[Title%2FAbstract]%29%29%20AND%20#{@gene.name}", target: "_blank"
            %td.left
              =link_to "(Etiology + #{@gene.name} + #{@gene.disease})", "http://www.ncbi.nlm.nih.gov/pubmed?term=%28%28relative[Title%2FAbstract]%20AND%20risk*[Title%2FAbstract]%29%20OR%20%28relative%20risk[Text%20Word]%29%20OR%20risks[Text%20Word]%20OR%20cohort%20studies[MeSH%3Anoexp]%20OR%20%28cohort[Title%2FAbstract]%20AND%20stud*[Title%2FAbstract]%29%29%20AND%20#{@gene.name} AND #{@gene.disease}", target: "_blank"
          %tr
            %td.left
              =link_to "(Diagnosis + #{@gene.name})", "http://www.ncbi.nlm.nih.gov/pubmed?term=%28sensitiv*[Title%2FAbstract]%20OR%20sensitivity%20and%20specificity[MeSH%20Terms]%20OR%20diagnos*[Title%2FAbstract]%20OR%20diagnosis[MeSH%3Anoexp]%20OR%20diagnostic%20*%20[MeSH%3Anoexp]%20OR%20diagnosis%2Cdifferential[MeSH%3Anoexp]%20OR%20diagnosis[Subheading%3Anoexp]%29%20AND%20#{@gene.name}", target: "_blank"
            %td.left
              =link_to "(Diagnosis + #{@gene.name} + #{@gene.disease})", "http://www.ncbi.nlm.nih.gov/pubmed?term=%28sensitiv*[Title%2FAbstract]%20OR%20sensitivity%20and%20specificity[MeSH%20Terms]%20OR%20diagnos*[Title%2FAbstract]%20OR%20diagnosis[MeSH%3Anoexp]%20OR%20diagnostic%20*%20[MeSH%3Anoexp]%20OR%20diagnosis%2Cdifferential[MeSH%3Anoexp]%20OR%20diagnosis[Subheading%3Anoexp]%29%20AND%20#{@gene.name} AND #{@gene.disease}", target: "_blank"
          %tr
            %td.left
              =link_to "(Therapy + #{@gene.name})", "http://www.ncbi.nlm.nih.gov/pubmed?term=%28%28clinical[Title%2FAbstract]%20AND%20trial[Title%2FAbstract]%29%20OR%20clinical%20trials[MeSH%20Terms]%20OR%20clinical%20trial[Publication%20Type]%20OR%20random*[Title%2FAbstract]%20OR%20random%20allocation[MeSH%20Terms]%20OR%20therapeutic%20use[MeSH%20Subheading]%29%20AND%20#{@gene.name}", target: "_blank"
            %td.left
              =link_to "(Therapy + #{@gene.name} + #{@gene.disease})", "http://www.ncbi.nlm.nih.gov/pubmed?term=%28%28clinical[Title%2FAbstract]%20AND%20trial[Title%2FAbstract]%29%20OR%20clinical%20trials[MeSH%20Terms]%20OR%20clinical%20trial[Publication%20Type]%20OR%20random*[Title%2FAbstract]%20OR%20random%20allocation[MeSH%20Terms]%20OR%20therapeutic%20use[MeSH%20Subheading]%29%20AND%20#{@gene.name} AND #{@gene.disease}", target: "_blank"
          %tr
            %td.left
              =link_to "Genetics Home Reference", "http://ghr.nlm.nih.gov/gene/#{@gene.name}", target: "_blank"
            %td.left
              =link_to "Google search on 'NCBI + #{@gene.name} + #{@gene.disease}'", "https://www.google.com/search?q=NCBI+#{@gene.name}+#{@gene.disease}", target: "_blank"
          -#%tr
          -#  %td.left
          -#    =link_to "Omim", "http://omim.org/search?&search=%22#{@gene.disease}%22"
          -#  %td.left
          -#    =link_to "NCBI GeneReviews", "http://www.ncbi.nlm.nih.gov/books/?term='#{@gene.disease}'%20AND%20gene%5Bbook%5D"




    %div.span5
      .control-group
        = f.input :common_in_sa, :label => "Common in SA"

      .control-group
        = f.label "Causality", :class => 'control-label'
        .controls
          - @causalities.each do |cause|
            = hidden_field_tag "gene[causality_ids][]", nil
            = radio_button_tag "gene[causality_ids][]", cause.id, @gene.causality_ids.include?(cause.id), id: dom_id(cause)
            = cause.name
            %br

      .control-group
        = f.label "Ethnic Group", :class => 'control-label'
        .controls
          - @ethnic_groups.each do |group|
            = hidden_field_tag "gene[ethnic_group_ids][]", nil
            = check_box_tag "gene[ethnic_group_ids][]", group.id, @gene.ethnic_group_ids.include?(group.id), id: dom_id(group)
            = group.value
            %br
      .control-group
        = f.label "Gender", :class => 'control-label'
        .controls
          - @genders.each do |gender|
            = hidden_field_tag "gene[gender_ids][]", nil
            = radio_button_tag "gene[gender_ids][]", gender.id, @gene.gender_ids.include?(gender.id), id: dom_id(gender)
            = gender.name
            %br


    %div.span5
      .control-group
        = f.label "Chromosomal Type", :class => 'control-label'
        .controls
          - @chromosomes.each do |chromosome|
            = hidden_field_tag "gene[chromosome_ids][]", nil
            = radio_button_tag "gene[chromosome_ids][]", chromosome.id, @gene.chromosome_ids.include?(chromosome.id), id: dom_id(chromosome)
            = chromosome.name
            %br
      .control-group
        = f.label "Outcome", :class => 'control-label'
        .controls
          - @curabilities.each do |cure|
            = hidden_field_tag "gene[curability_ids][]", nil
            = check_box_tag "gene[curability_ids][]", cure.id, @gene.curability_ids.include?(cure.id), id: dom_id(cure)
            = cure.value
            %br
      .control-group
        = f.label "Ages of Onset", :class => 'control-label'
        .controls
          - @age_of_onsets.each do |age|
            = hidden_field_tag "gene[age_of_onset_ids][]", nil
            = check_box_tag "gene[age_of_onset_ids][]", age.id, @gene.age_of_onset_ids.include?(age.id), id: dom_id(age)
            = age.value
            %br
      .control-group
        = f.label "Zygosity", :class => 'control-label'
        .controls
          - @zygosities.each do |zygosity|
            = hidden_field_tag "gene[zygosity_ids][]", nil
            = check_box_tag "gene[zygosity_ids][]", zygosity.id, @gene.zygosity_ids.include?(zygosity.id), id: dom_id(zygosity)
            = zygosity.name
            %br

      .control-group
        = f.label "Dominance", :class => 'control-label'
        .controls
          - @dominances.each do |domiance|
            = hidden_field_tag "gene[dominance_ids][]", nil
            = radio_button_tag "gene[dominance_ids][]", domiance.id, @gene.dominance_ids.include?(domiance.id), id: dom_id(domiance)
            = domiance.name
            %br

    .clearfix
    .control-group
      = f.label "Comment Tags", :class => 'control-label'
      .controls
        = f.text_field :comment_tags, :class => "input-xxlarge", :value => @gene.comments.map(&:name).join(", ")
        %span(class="add-on")>
          %i(class="icon-tags")
        %span.help-inline
          separate by commas.
    .clearfix
    .control-group
      = f.label "Incident Tags", :class => 'control-label'
      .controls
        = f.text_field :incident_tags, class: "input-xxlarge", :value => @gene.incidents.map(&:name).join(", ")
        %span(class="add-on")>
          %i(class="icon-tags")
        %span.help-inline
          separate by commas.



  .clearfix
  -if can? :update, Gene
    .form-actions
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        genes_path, :class => 'btn'
  -else
    %div{:class => "alert alert-error"}
      %a.close{"data-dismiss" => "alert"} ×
      You are not authorized to edit this record.                                  |
