- model_class = Gene
- content_for :gene_title do
  = @gene.name
.page-header
  %h1= t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human, |
      :default => "Edit #{model_class.model_name.human} #{@gene.name}")                        |
-if can? :update, Gene
  = render :partial => 'update_form'
