- model_class = Gene
- content_for :gene_title do
  = "Page - #{params[:page] || 1}"
.page-header
  %h1
    -unless params[:search].present?
      = t '.title', :default => model_class.model_name.human.pluralize
    -else
      = "Search Results for '#{params[:search]}'"

-if @genes.size > 0
  .well.well-small
    %h4
      Filters
    %p.filter_links
      = link_to image_tag('South-Africa-Flag.png', class: 'flag_t'), genes_path(:filter => 'common_in_sa')
      |
      = link_to 'classified', genes_path(:filter => 'classified')
      |
      = link_to 'unclassified', genes_path(:filter => 'unclassified')

  -if params[:search].present? || params[:filter].present?
    %p.result_size
      Found
      =pluralize(@genes.total_entries, 'gene')

  %p
    = will_paginate @genes, :class => 'apple_pagination'
  %table.table.table-striped
    %thead
      %tr
        %th.left= model_class.human_attribute_name(:name)
        %th.left Full Name
        %th.left= "IT Phenotype"
        %th.left= "NCBI Phenotype"
        //%th.left= "Also known as"
        %th Common
        %th Coverage
        %th Classified
        - if can? :update, Gene
          %th= t '.actions', :default => t("helpers.actions")
    %tbody
      - @genes.each do |gene|
        %tr
          %td.left= link_to gene.name, gene_path(gene)
          %td.left.narrow= gene.ncbi_result.official_full_name.titleize || "not set"
          %td.left.narrow= gene.disease || "not set"
          %td.left.narrow= gene.ncbi_result.phenotype || "not set"
          %td=raw gene.common_in_sa ? image_tag('South-Africa-Flag.png', class: 'flag'): "<span class='red'>no</span>"
          %td= gene.overall_coverage || "not set"
          %td= classified_gene(gene,1)
          -#- if staff? || admin?
          -if can? :update, Gene
            %td
              = link_to t('.edit', :default => t("helpers.links.edit")),
                edit_gene_path(gene), :class => 'btn btn-mini'
              -if can? :destroy, Gene
                = link_to t('.destroy', :default => t("helpers.links.destroy")),
                  gene_path(gene),
                  :method => :delete,
                  :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                  :class => 'btn btn-mini btn-danger'
  %p
    = will_paginate @genes, :class => 'apple_pagination'

-else
  %p
    No genes match your query.
-if can? :create, Gene
  = link_to t('.new', :default => t("helpers.links.new")), new_gene_path, :class => 'btn btn-primary'
