- model_class = Gene
- content_for :gene_title do
  = @gene.name
.page-header
  %h1= t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human, |
      :default => "New #{model_class.model_name.human}")                                      |
-if can? :create, Gene
  = render :partial => 'form'
