- model_class = Gene
- content_for :gene_title do
  = " - Details on #{@gene.name}"
.page-header
  %h1
    Details for Gene
    =@gene.name
    = image_tag('South-Africa-Flag_32.png', class: "flag_m") if @gene.common_in_sa?
.well
  %legend
    %i.icon-briefcase
    Ion Torrent
  %table.table.table-striped
    %thead
      %tr
        %th
          =model_class.human_attribute_name(:name)
        %th
          =model_class.human_attribute_name(:chromosome)
        %th
          =model_class.human_attribute_name(:disease)
        %th
          =model_class.human_attribute_name(:number_amplicons)
        %th
          =model_class.human_attribute_name(:total_bases)
        %th
          =model_class.human_attribute_name(:covered_bases)
        %th
          =model_class.human_attribute_name(:overall_coverage)
    %tbody
      %tr
        %td
          =@gene.name
        %td
          =@gene.chromosome
        %td
          =@gene.disease
        %td
          =@gene.number_amplicons
        %td
          =@gene.total_bases
        %td
          =@gene.covered_bases
        %td
          =@gene.overall_coverage
  .clear


.well
  %legend
    %i.icon-tags
    Classification
  -unless classified_gene(@gene,nil)
    %p
      This gene has not yet been classified.
  %dl.dl-horizontal
    %dt
      Common in SA:
    %dd
      =raw @gene.common_in_sa ? "<span class='green'>yes</span>":"<span class='red'>no</span>"
    -if @gene.causalities.size > 0
      %dt
        Causality:
      %dd
        = @gene.causalities.map(&:name).join(", ")
    -if @gene.ethnic_groups.size > 0
      %dt
        Ethnic Groups:
      %dd
        = @gene.ethnic_groups.map(&:value).join(", ")

    -if @gene.curabilities.size > 0
      %dt
        Outcome:

      %dd
        = @gene.curabilities.map(&:value).join(", ")

    -if @gene.age_of_onsets.size > 0
      %dt
        Age of Onset:
      %dd
        = @gene.age_of_onsets.map(&:value).join(", ")

    -if @gene.genders.size > 0
      %dt
        Gender:
      %dd
        = @gene.genders.map(&:name).join(", ")

    -if @gene.zygosities.size > 0
      %dt
        Zygosity:
      %dd
        = @gene.zygosities.map(&:name).join(", ")

    -if @gene.chromosomes.size > 0
      %dt
        Chromosomes:
      %dd
        = @gene.chromosomes.map(&:name).join(", ")

    -if @gene.dominances.size > 0
      %dt
        Dominance:
      %dd
        = @gene.dominances.map(&:name).join(", ")

    -if @gene.comments.present?
      %dt.tag
        Comment Tags:
      %dd.tag.left
        =raw @gene.comments.collect { |comment| "<span class='badge badge-important'>#{comment}</span>"}.join(" ")

    -if @gene.incidents.present?
      %dt.tag
        Incident Tags:
      %dd.tag.left
        =raw @gene.incidents.collect { |incident| "<span class='badge badge-important'>#{incident}</span>"}.join(" ")


  -if can? :update, Gene
    = link_to "edit", edit_gene_path(@gene), class: "pull-right"
-if @gene.ncbi_result.present?
  .well
    %legend
      %i.icon-book
      Summary
    %dl.dl-horizontal
      %dt
        Official Symbol
      %dd
        =@gene.ncbi_result.official_symbol
      %dt
        Official Full Name
      %dd
        =@gene.ncbi_result.official_full_name.titleize
      %dt
        Gene ID
      %dd
        =link_to @gene.ncbi_result.ncbi_gene_id, "http://www.ncbi.nlm.nih.gov/gene/#{@gene.ncbi_result.ncbi_gene_id}", target: "_blank"
      %dt
        Primary source
      %dd
        =link_to "#{@gene.ncbi_result.ncbi_related_links.first.related_link_type}:#{@gene.ncbi_result.ncbi_related_links.first.related_link_id}", generate_related_link(@gene.ncbi_result.ncbi_related_links.first), target: "_blank"
      %dt
        Related links
      %dd
        -@gene.ncbi_result.ncbi_related_links[1..-1].each do |rl|
          = link_to "#{rl.related_link_type}:#{rl.related_link_id}", generate_related_link(rl), target: "_blank"
          =" | "
      %dt
        Gene type
      %dd
        =@gene.ncbi_result.ncbi_gene_type.gene_type_name
      %dt
        RefSeq status
      %dd
        =@gene.ncbi_result.refseq_status || "none"
      %dt
        Organism
      %dd
        Homo sapiens (human)
      -if @gene.ncbi_result.ncbi_lineages.present?
        %dt
          Lineage
        %dd
          =@gene.ncbi_result.ncbi_lineages.map(&:name).join("; ")
      -if @gene.ncbi_result.ncbi_aliases.present?
        %dt
          Also known as
        %dd
          =@gene.ncbi_result.ncbi_aliases.map(&:name).join(", ")
      %dt
        Phenotype
      %dd
        =@gene.ncbi_result.phenotype
      %dt
        Summary
      %dd
        =@gene.ncbi_result.summary
    .clear

  -if @gene.ncbi_result.ncbi_pubmed_articles.length > 0
    .well
      %legend
        %i.icon-bookmark
        Related articles in PubMed
      %ol
        -@gene.ncbi_result.ncbi_pubmed_articles.order("year DESC").limit(10).each do |article|
          %li
            = link_to article.title.to_blurb(), "http://www.ncbi.nlm.nih.gov/pubmed/#{article.pubmed}", target: "_blank"
            = " "
            %i
              = show_author(article)+","
            = article.journal+","
            %strong
              = article.year+","
            = article.volume+","
            = article.pages
      %p
        %i.icon-list
        =link_to "See all publications", ncbi_pubmed_article_path(@gene.id)
        =@gene.ncbi_result.ncbi_pubmed_articles.size
    .clear
.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), |
    genes_path, :class => 'btn'                              |
  -if can? :update, Gene
    = link_to t('.edit', :default => t("helpers.links.edit")),edit_gene_path(@gene), :class => 'btn'
  -if can? :destroy, Gene
    = link_to t('.destroy', :default => t("helpers.links.destroy")),
      gene_path(@gene),
      :method => 'delete',
      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
      :class => 'btn btn-danger'
