- model_class = Gender
.page-header
  %h1= t '.title', :default => model_class.model_name.human
%dl.dl-horizontal
  %dt
    %strong
      = model_class.human_attribute_name(:name)
      \:
  %dd= @gender.name
.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), |
    genders_path, :class => 'btn'                            |
  -#
  = link_to t('.edit', :default => t("helpers.links.edit")), |
    edit_gender_path(@gender), :class => 'btn'               |
  -#
  = link_to t('.destroy', :default => t("helpers.links.destroy")),                                               |
    gender_path(@gender),                                                                                        |
    :method => 'delete',                                                                                         |
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, |
    :class => 'btn btn-danger'                                                                                   |
