!!!
%html
  %head
    %title
      -if user_signed_in?
        ID Panel
      -else
        Some app
      = yield :gene_title
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:content => "width=device-width,", "initial-scale" => "1.0", :name => "viewport"}/
  %body
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner

        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          -unless user_signed_in?
            %a.brand{:href => "/"} Some app
          -else
            %a.brand{:href => "/"} ID Panel
          -if user_signed_in?
            .nav-collapse
              %ul.nav
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    Genes
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to "All", genes_path
                    %li= link_to "Common in SA", genes_path(:filter => "common_in_sa")
                    %li= link_to "Classified", genes_path(:filter => "classified")
                    %li= link_to "Unclassified", genes_path(:filter => "unclassified")
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    Portal
                    %b.caret
                  %ul.dropdown-menu
                    %li= link_to "Dashboard", portals_path
                    %li= link_to "Medical", medical_portals_path
                    %li= link_to "Science", science_portals_path

                -if user_signed_in? && admin?
                  %li.dropdown
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                      Admin
                      %b.caret
                    %ul.dropdown-menu
                      %li= link_to "Users", users_path
                      %li= link_to "Posts", posts_path
                      %li= link_to "Roles", roles_path
                      %li.divider
                      %li=link_to "Ages of Onset", age_of_onsets_path
                      %li=link_to "Causalities", causalities_path
                      %li=link_to "Chromosomal Types", chromosomes_path
                      %li=link_to "Curabilities", curabilities_path
                      %li=link_to "Dominances", dominances_path
                      %li=link_to "Ethnic Groups", ethnic_groups_path
                      %li=link_to "Genders", genders_path
                      %li=link_to "Zygosities", zygosities_path

                  %li= link_to "Process Queues", '/resque', target: "_blank"
                - if user_signed_in?
                  %li.divider-vertical.pull-right
                  %li.pull-right= link_to "Profile", edit_user_path(current_user)
                  %li.pull-right= link_to "Logout", destroy_user_session_path, :method => :delete
              -if user_signed_in?
                %form.navbar-search.pull-right{"accept-charset" => "UTF-8", :action => "/genes", :method => "get"}
                  %div{:style => "margin:0;padding:0;display:inline"}
                    %input{:name => "utf8", :type => "hidden", :value => "✓"}/
                  %input#search.search-query{:name => "search", :placeholder => "Search Genes", :type => "text", :value => params[:search] }/
                  %input{:type => "submit", :value => "Go", :class => "btn btn-mini"}/




    .container
      - if flash.present?
        - flash.each do |name, msg|
          %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
            %a.close{"data-dismiss" => "alert"} ×
            = msg
      .row
        .span12= yield
