%h1
  Publications Related To The
  = @gene.name
  Gene

%p
  %br

%p
  %h4
    Filters
    = link_to "All", ncbi_pubmed_article_path(@gene.id)
    |
    = link_to "Reviews", ncbi_pubmed_article_path(@gene.id, :filter => 'review')

.well.pubmed_articles
  -if @pubmed_articles.length > 0

    %ol
      -@pubmed_articles.each do |article|
        %li
          = link_to article.title, "http://www.ncbi.nlm.nih.gov/pubmed/#{article.pubmed}", target: "_blank"
          = " "
          %br
          %i
            = show_author(article)+","
          = article.journal+","
          %strong
            = article.year+","
          = article.volume+","
          = article.pages
  -else
    -unless params[:filter] == "review"
      %p
        Currently no Articles on record.
    -else
      %p
        Currently no reviews on record.